table.tv-table tr.tv-row
    > td
        padding 10px
        font-size 1.1em
        border-top 1px solid #d0d0d0

        &.tv-checkbox
            width 1px

    &.-pointer
        cursor pointer

    &:hover
        background-color #f2f2f2