table.tv-table
    font-family "Roboto", "arial", "sans-serif"
    width 100%
    border 1px solid #d0d0d0
    font-size 13px

    thead.tv-thead
        color #999
        letter-spacing 1px
        position relative
        border-bottom 1px solid #d0d0d0
        text-align left

        > tr > th
            padding 10px

            &.tv-checkbox
                width 1px


    tbody.tv-tbody
        position relative
        text-align left
        font-size 1.2em

        > tr > td
            padding 10px

            &.tv-checkbox
                width 1px