thead.tv-thead
    color #999
    letter-spacing 1px
    position relative
    border-bottom 1px solid #d0d0d0
    text-align left

    > tr > th
        padding 10px

        &.tv-checkbox
            width 1px
